* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body {
  background: rgb(20, 20, 20)
    -webkit-radial-gradient(center, rgb(116, 221, 162), rgba(0, 15, 15, 0.6));
  font-family: "Montserrat", sans-serif;
  background-size: cover;
} 
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}


canvas {
    width: 75%;
    margin-left: -150px;
    margin-top: 50px;
}
audio {
  width: 300px;
  height: 30px;
}
progress {
  width: 50%;
}

.game-zone {
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
    user-select: none;
    padding: 1em 2em;
    outline: none;
    border-radius: 3px / 100%;
    background-image:
     linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
     linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.game-zone:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.game-zone:active {
    top: 1px;
}


.game-zone__wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    height: 600px;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 35px;
    
}
.button {
    background-color: #A0B4BE;
    border: 1px solid #fff;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    font: 800 2rem Montserrat;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}
.button:hover {
    background-color: #27A8F3;
    color: #FFFFFF;
}
.button_start {
    width: 150px;
    height: 50px;
    margin-right: 20px;
    z-index: 3;
}
.button_guide {
    width: 50px;
    height: 50px;
    font-size: 24px;
    z-index: 3;
       
}

/*-----MODALS STYLE-----*/

.rules {
    display: none;
  }
  
  .show-rules {
    display: block;
  }
  
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -28%);
    z-index: 5;
    max-width: 750px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 80px;
    background: #778c97;
    padding: 0px 3% 0px 3%;
  }
  
  .modal__title {
    max-width: 250px;
    background: rgba(193, 230, 205, 0.5);
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 2% 8% 2% 8%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #07bd44;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  .modal__name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 20px;
    color: #f1ecec;
  }
  
  .rule {
    padding-bottom: 2%;
  }
  
  .modal__name::first-letter {
    padding-right: 10px;
  }
  
  .modal__submit {
    display: block;
    width: 100px;
    border-radius: 50px;
    border: 1px solid #fff;
    background-color: #23db12;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    padding:  15px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    
  }
  
  .modal__submit:hover {
    background: #FFC700;
  }
  
  .end-game {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
  }
  
  .end-game__score {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 29px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .end-game__value {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 160px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .end-game__value-subtitle {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 70px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -35px;
  }

  .main {
    max-width: 1366px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 5% 0 5%;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #F2F2F2;
    text-align: center;
    line-height: 1.3em;
    margin: 0 auto;
    text-shadow: -.01em .01em 0 #666,
    -.02em .02em 0 #666,
    -.03em .03em 0 #666,
    -.04em .04em 0 #666,
    -.05em .05em 0 #666,
    -.06em .06em 0 #999,
    -.07em .07em 0 #999,
    -.08em .08em 0 #999,
    -.09em .09em 0 #999,
    -.1em .1em 0 #999,
    -.11em .11em 0 #999;
    animation: animate 4s linear ;
  }



  .header {
    display: flex;
    justify-content: space-between;
    height: 10px;
  }
  .header__buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 50%;
    }
  .header__board {
        position: relative;
      
      }
    .speed {
      align-items: center;
      background: rgb(236, 240, 230);
      border-radius: 50%;
      border: 1px solid #fff;
      box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.09);
      display: flex;
      justify-content: center;
      height: 70px;
      width: 70px;
      top : 15px;
      left: 15px;
      z-index: 3;
    }
    
    .board__speed {
      position: absolute;
    }
    
    .speed__value {
      width: 60px;
      height: 70px;
      background-image:  url(img/filled-star.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 24px;
      text-align: center;
      color: #fff;
      line-height: 70px;
    }
    
    .score {
      align-items: center;
      display: flex;
      background-color: #A0B4BE;
      border: 1px solid #fff;
      border-radius: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.25) inset;
      transform: translate(27%, 23%);
      width: 130px;
      height: 30px;
      margin-top: 20px;
    }
    
    .score__value {
      position: absolute;
      right: 10%;
      font-weight: bold;
      font-size: 30px;
      color: #fff;
    }
    
    .board__lives {
      display: flex;
      align-items: center;
      width: 140px;
      height: 30px;
      background: #A0B4BE;
      box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 35px;
      margin:  4% 0 0 20%;
      border: 1px solid #fff;
    }
    
    .lives-wrapp {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 5% 9% 0 0;
    }
    
    .lives-wrapp__heart:not(:last-child) {
      padding-right: 5px;
    }
    
    .lives-wrapp__heart {
      max-width: 25px;
      max-height: 20px;
      width: 22px;
      height: 20px;
      z-index: 3;
      background: 
    url(img/hearts.png) no-repeat;
      
    }
    
    .lives-wrapp__heart_active {
      background:  url(img/heartscolor.png) no-repeat;
    }
  
    .star-animation {
      animation-name: levelUp;
      animation-duration: 0.8s;
    }
    
    @keyframes levelUp {
      40% {
        transform: translateY(-30px) rotateY(180deg);
      }
    }
  
